{% load static %}
{% static '' as baseURL %}

<!DOCTYPE HTML>

<html>
<head>
	<title>
		Login!
	</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'cap_login_css.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
</head>

<body>
	<div class="head">
		<div class="logoText">
			<img class="logo" src="{% static 'logo.jpg' %}">
			<h1>CAP</h1>
		</div>
		
		<div class="sign">
			<p id="sign"><a href="../login">LOGIN</a> | <a href="../signup">SIGN UP</a></p>
		</div>
		
		<div class="tab">
			<ul>
			  <li><a href="../../">Home</a></li>
			  <li><a href="cap_xml.xml">Genre</a></li>
			  <li><a href="../../celeb">Celeb</a></li>
			  <li><a href="cap_year.html">Year</a></li>
			  <input type="text" placeholder="Search CAP...">
			</ul>
		</div>
	</div>

	<div class="heading">
		<h1> Login </h1> 
	</div>

	<div class="form">
		<form name="myForm" action="../login/" method="POST">
			{% csrf_token %}

			<div class="dumb">
				<label for="name">Username:</label> <br> <input type="text" name="u_name" placeholder="eg: ItachiUchiha@42069" id="u_name" required> <br> <br>
			</div>
			
			<label for="pass1"> Password: </label> <br>
			<div class="dumb">
			<input type="password" id="pass1" name="pass1" placeholder="Password must contain atleast one numeric value and one special character" required>
			</div>		
			<br> <br>
			
			<button type="submit">Login</button>
			
		</form>

		{% for message in messages %}
			<div class="error"> <p> {{message}} </p> </div>
		{% endfor %}
	</div>


<br><br><br>

<div class="Bottom">
	<div class="footer">
	<footer><p><a href="cap_aboutUs.html">About Us</a>  |   <a href="cap_contactUs.html">Contact Us</a>  |   <a href="cap_feedback.html">Feedback</a></p></footer>
	</div>
</div>

</body>
</html>