{% load static %}
{% static '' as baseURL %}

<!DOCTYPE HTML>

<html>
<head>
	<title>
		Sign up!
	</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'cap_signup_form_css.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
</head>

<body>

	<div class="head">
		<div class="logoText">
			<img class="logo" src="{% static 'logo.jpg' %}">
			<h1>CAP</h1>
		</div>
		
		<div class="sign">
			<p><a href="../login">LOGIN</a> | <a href="../signup">SIGN UP</a></p>
		</div>
		
		<div class="tab">
			<ul>
			  <li><a href="../../">Home</a></li>
			  <li><a href="cap_xml.xml">Genre</a></li>
			  <li><a href="../../celeb">Celeb</a></li>
			  <li><a href="cap_year.html">Year</a></li>
			  <input type="text" placeholder="Search CAP...">
			</ul>
		</div>
	</div>


<div class="heading">
	<h1> Sign up </h1> 
</div>

<div class="form">
	<form action="../signup/" name="myForm" method="POST">
		{% csrf_token %}
		
		<div class="dumb">
			<label for="name">Username:</label> <br> 
			<input type="text" placeholder="eg: ItachiUchiha@42069" id="name" name="u_name" required> 
			{% for message in messages %}
				{% ifequal message.tags 'u_name info' %}
					<div class="error"> <p> {{message}} </p></div>
				{% endifequal %}
			{% endfor %}
			<br> <br>
			
			<label for="f_name">First name:</label> <br> 
			<input type="text" id="first_name" name="f_name" required> <br> <br>

			<label for="l_name">Last name:</label> <br> 
			<input type="text" id="last_name" name="l_name" required> <br> <br>
			
			<label for="email"> E-Mail ID: </label> <br> <input type="email" name="email" id="email" placeholder="eg: VillageOrTheClan@gmail.com">
			{% for message in messages %}
				{% ifequal message.tags 'email info' %}
					<div class="error"> <p> {{message}} </p> </div>
				{% endifequal %}
			{% endfor %}
			<br> <br>
		</div>
		
		<label for="pass"> Password: </label> <br>
		<div class="dumb">
		<input type="password" id="pass1" name="pass1" placeholder="Password must contain atleast one numeric value and one special character" required>
		</div>		
		<br>

		<label for="pass">Confirm Password: </label> <br>
		<div class="dumb">
		<input type="password" name="pass2" id="pass2" required>
		</div>
		{% for message in messages %}
			{% ifequal message.tags 'pass info' %}
				<div class="error"> <p> {{message}} </p> </div>
			{% endifequal %}
		{% endfor %}		
		<br> <br>
		
		<div class="checkbox">
		<input type="checkbox" id="TnC" name="TnC" value="TnC"> <label for="TnC">I agree to all terms and conditions</label> <br>
		
		<input type="checkbox" id="email_preferences" name="email_preferences" value="email_preferences"> 
		<label for="email_preferences"> I would like to receive email notifications </label>
		</div>
		<br> <br>
		
		<button type="submit">Sign Up</button>
		
	</form>
</div>



<br><br><br>

<div class="Bottom">
	<div class="footer">
	<footer><p><a href="cap_aboutUs.html">About Us</a>  |   <a href="cap_contactUs.html">Contact Us</a>  |   <a href="cap_feedback.html">Feedback</a></p></footer>
	</div>
</div>



</body>	

</html>